* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}

#menu{
    background-color: #f7cdb1;
}

.brand-logo{
    padding: 0;
}

.brand-logo img{
    width: 180px;
    height: 180px;
    background-color: #b88b6d;
    margin: 20px;
    border-radius: 20%;
    padding: 0;
    margin-left: 35px;
} 

#drink-container{
    background-color: #f3d3be;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #ffe8d9;
}

::-webkit-scrollbar{
    display: none;
}

#header .util{
    font-size: 20px;
    text-align: center;

}

.util i{
    margin: 10px;
    border: 1px solid #4D2912;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
    width: 150px;
    height: 50px;
    font-size: 25px;
}

.util i:active{
    color: #ffe8d9;
    background: #4D2912;
}

.drink-items{
    display: none;
}

#coffee,#tea,#non,#bakery{
    margin-top: 5px;
    padding-top: 10px;
}

#coffee #item-card{
    background: #4D2912;
}

#tea #item-card{
    background: #633E27;
}

#non #item-card{
    background: #815C45;
}

#bakery #item-card{
    background: #A98A76;
}

#category-name{
    margin: 10px;
    font-size: 35px;
    color: #4D2912;

}

#item-card{
    width: 180px;
    height: 220px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    background: #ffe8d9;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin-top: 20px;
}

#card-top{
    display: flex;
    margin: 5px 0;
}

.fa-shopping-cart{
    padding: 6px;
    background:#f7cdb1;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-cart{
    background: black;
    color: #f7cdb1;
}

#item-card img{
    width: 80px;
    height: 100px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
    transition: 0.3s all ease-in-out;
}

#item-card img:hover{
    transform: scale(1.2);
}

#item-name{
    margin: 5px 0;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;
    background-color: #f3d3be;
    border-radius: 10px;
    padding-left: 5px;
    text-align: center;
}

#item-price{
    margin: 0;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

#cart{
    background-color: #f7cdb1;
    padding-right: 30px;
    overflow-y: scroll;
}

.taste-header{
    padding-top: 30px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: #f7cdb1;
    margin-left: 40px;
}

.item-menu{
    margin: 0;
    font-size: 35px;
    color: #4D2912;
    background: #f7cdb1;
    font-weight: 600;
}

.border{
    width: 230px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: black;
}

.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    margin-left: 10px;
}

.list-card:hover{
    background: #b88b6d;
}

.list-name{
    margin:30px;
    padding-left: 35px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    color: #555555;
}

#category-list{
    
}

.cart-toggle{
    display: none;
}

#cart-page{
    background: #f3d3be;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}

#cart-title{
    font-size: 35px;
    margin: 0;
    color: #4D2912;
    font-weight: 600;
}

#cart-page table{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

#cart-page table thead td{
    font-size: 25px;
    padding: 10px;
    color: #4D2912;
    background: #b88b6d;
    border-radius: 30px;
}

#m-total-amount{
    display: none;
}

#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}

#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background: #4D2912;
    color: whitesmoke;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px;
    padding: 3px 5px;
}

#cart-page table tbody img{
    width: 70px;
    height: 90px;
}

#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: #f7cdb1;
    padding: 10px 20px;
}

#checkout p{
    margin: 15px 0;
    float: left;
}

#total-price,#total-item{
    font-size: 25px;
    color: #4D2912;
}

.cart-btn{
    outline: none;
    border: none;
    background: #4D2912;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}

.cart-btn:active{
    color:#4D2912;
    background: none;
    border: 1px solid #4D2912;
}

/* Mobile Version */
@media screen and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 2)
{
    .container{
        display: none;
    }
    #mobile-view{
        display: grid;
        grid-template-rows:auto;
        overflow: hidden;
        height: 100%;
        width: 100vw;
    }
    .mobile-top{
        padding: 5px 15px;
        z-index: 1;
        background: #f7cdb1;
    }

    .item-container{
        background-color: #f3d3be;
        overflow: scroll;
    }

    .logo-box,.top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-box img{
        width: 100px;
        height: 100px;
        background-color: #b88b6d;
        border-radius: 20%;
        margin-top: 20px;
    }

    .logo-box i{
        border: black;

    }
    .top-menu{
        color:none;
        padding: 12px 5px ;
        margin: 0px;
    }
    .m-cart-toggle{
        color: #f7cdb1;
        background: black;
        border-radius: 5px;
        
    }
    .category-header{
        display: flex;
        width: 100%;
        overflow-x: scroll;
        position: sticky;
        top: 0;
        background: #f7cdb1;
        z-index: 1;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    .toggle-category{
        display: none;
        position: relative;
    }
    .list-card{
        margin: 0 10px;
        text-align: center;
    }
    .list-card img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .list-card:hover{
        background: none;
        transform: none;
    }
    .list-card:hover img{
        transform: none;
        transition: none;
    }
    .list-name{
        margin: 5px 0;
        color: black;
        width: max-content;
        font-size: 16px;
    }
    #drink-items{
        padding: 5px 10px;
    }
    #category-name{
        font-size: 25px;       
    }
    #item-card{
        width: 150px;
        height: 200px;
    }
    #item-card img{
        width: 100px;
        height: 100px;
    }
    #item-name,#item-price{
        font-size: 16px;  
        margin: 3px 0;
    }
    .list-card{
        flex-direction: column;
    }
    #cart-page{
        margin: 0;
        padding: 10px 5px;
        padding-bottom: 30px;
        border-top: 1px solid #f7cdb1;
    }
    #cart-page table thead td{
        font-size: 20px;
    }
    #cart-page table tbody td{
        font-size: 18px;
    }
    #cart-page table tbody img{
        width: 50px;
        height: 60px;
    }
    #cart-title{
        font-size: 25px;
        display: inline-block;
    }
    #m-total-amount{
        display: inline-block;
        color:#000000 ;
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #000000;
        float: right;
    }
    .cart-btn{
        font-size: 14px;
        border: #f7cdb1;
        padding: 8px 15px;
        margin: auto;
    }
    .btn-box{
        text-align: center;
    }
    .mobile-footer{
        background-color:#f7cdb1 ;
        display: flex;
    }

}

@media  screen and (max-width:400px) and (-webkit-min-device-pixrl-ratio: 2){
    #item-card{
        width: 155px;
        height: 200px; 
    }
    #food-items{
        padding: 0;
    }
    #mobile-view{
        min-height: -webkit-fill-available;
    }

}



