<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
        
        
    
</head>
<body>
    <div class="container">
        <img src="/images/user.png">
        <div class="logintext">Login</div>
        <form action="/login" method="post">
            <label for="username" >Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
    </form>


   
    <p th:if="${error}">Invalid username or password</p>

    <p th:if="${param.logout}">You have been logged out successfully.</p>
    <p th:if="${param.error}">Invalid username or password.</p>
    <p th:if="${param.logout}">
        <a href="/login" class="login-again">Login again</a>
    </p>
    </div>
</body>
</html>
