<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily Sales List</title>
</head>
<body>
    <h1>Daily Sales List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Value</th>
                <th>Date</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="dailysale : ${dailysales}"> 
                <td th:text="${dailysale.id}">ID</td>
                <td th:text="${dailysale.name}">Name</td>
                <td th:text="${dailysale.value}">Value</td>
                <td th:text="${#dates.format(dailysale.date, 'yyyy-MM-dd')}">Date</td>
                <td>
                    <a class="btn btn-warning" th:href="@{/dailysale/{id}/edit(id=${dailysale.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
        
    </table>
</body>
</html>