<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/barista.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Daily Sales List</title>
</head>
<body>
    <a href="/barista-dashboard.html" class="home">
        <img src="/images/home.png">
    </a>
    <h1>Daily Sales List</h1>
<div class="container">
    <h2>Sales List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Value</th>
                <th>Date</th>
            </tr>
        </thead>
        
        <tbody>
            <tr th:each="dailysale : ${dailysales}"> 
                <td th:text="${dailysale.id}">ID</td>
                <td th:text="${dailysale.name}">Name</td>
                <td th:text="${dailysale.value}">Value</td>
                <td th:text="${#dates.format(dailysale.date, 'yyyy-MM-dd')}">Date</td>
                <td>
                    <a class="btn btn-warning" th:href="@{/dailysale/{id}/edit(id=${dailysale.id})}">Edit</a>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>
</body>
<style>
    .btn{
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgb(37, 148, 252);
        color: #fff;
        border-radius: 20px;
    }
    .home{
        position: relative;
        top: 100px;
        left: 2%;
    }
</style>
</html>