<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu</title>

</head>
<body>
    <div class="container mt-5">
        <h1>Add Concert</h1>
        <form th:action="@{/carts}" th:object="${addcart}" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" required>
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" th:field="*{date}" required>
            </div>
            <hr/>
            <h2>Performer</h2>
            <div class="form-group">
                <!-- TODO: add label and field  -->
            </div>
            <button type="submit" class="btn btn-primary">Save Cart</button>
        </form>
    </div>
</body>
</html>